@{
    ViewData["Title"] = "Reset Password Confirmation";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4 card p-3">
        <h3 class="text-center text-primary mb-3">Reset Passowrd Confirmation</h3>
        <h4 class="text-center">
            Your password has been reset.
        </h4>

        <div class="row mt-2 d-flex align-items-center justify-content-center">
            <a href="@Url.Action("Login", "Account")" class="btn btn-primary col-5">Back to Login</a>

        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
