@* @using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
 *@
<ul class="navbar-nav  align-content-end">
@*     @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown align-content-end">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @User?.Identity?.Name
            </a>
            <ul class="dropdown-menu ">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">
                        Change Password
                    </a>
                </li>
            </ul>
        </li>

    } *@

        <li class="nav-item">
            <a class="nav-link text-dark"  asp-controller="Account" asp-action="Login">Login </a>
        </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Student" asp-action="LoginAsStudent">Login as Student</a>
    </li>
    
</ul>
