@using TasksEvaluation.Core.DTOs 
@using TasksEvaluation.Web.ViewModels
@model StudentCreateViewModel 

@{
	ViewData["Title"] = "Create";

}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
	option[value = "0"] {
		display: none;
	}
</style>

<h3>Create Student</h3>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@*  <div  class="form-group">
			<label asp-for="Id" class="control-label"></label>
			<input asp-for="Id" class="form-control" />
			<span asp-validation-for="Id" class="text-danger"></span>
			</div> *@
			<div class="form-group">
				<label asp-for="FullName" class="control-label"></label>
				<input asp-for="FullName" class="form-control" />
				<span asp-validation-for="FullName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="MobileNumber" class="control-label"></label>
				<input asp-for="MobileNumber" class="form-control" />
				<span asp-validation-for="MobileNumber" class="text-danger"></span>
			</div>


			<div class="form-group">
				<label asp-for="ProfilePic" class="control-label"></label>
				<input asp-for="ProfilePic" class="form-control" type="file" />
				<span asp-validation-for="ProfilePic" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="GroupId" class="control-label">Group</label>
				<select asp-for="GroupId" class="form-control" asp-items="@ViewBag.GroupId">
				</select>
			</div>
			<div class="form-group mt-3">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a class="btn btn-secondary" asp-action="GetAllStudents">Back to List</a>

			</div>

		</form>
	</div>
</div>

<div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
